npm-debug.log
backend/node_modules/
frontend/node_modules/
.DS_Store
*.css.map
!backend/src/static/css/*
.sass-cache/
.idea
.idea/*
*.xml
workspace.xml
misc.xml
dist/
.nvmrc
.vscode/launch.json
backend/www/
backend/logs/*
backend/src/themes/activity/components
backend/temp
