npm-debug.log
node_modules/
.DS_Store
*.css.map
!src/static/css/*
.sass-cache/
.idea
.idea/*
*.xml
workspace.xml
misc.xml
dist/
.nvmrc
.vscode/launch.json
www/nodesystem/*
logs/*
src/themes/activity/components
temp
