{% extends "partials/layout.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/static/css/help.css" />
{% endblock %}

{% block content %}
<div class="help-content">
    <div class="help-wrapper">
        <h1>帮助中心</h1>
        <p class="help-infor">手机、电脑等数码类产品已经成为生活的必需品。每个人都热衷追求一部适合于自己的电子产品，电子产品更新换代速度快，如何保证自己跟的上节奏？得到自己满意的手机或者电脑的同时又不会因为金钱而发愁。</p>
        <p class="help-infor" style="margin-bottom: 0;">我的生活方式我做主，火山商城是年轻人喜欢的购物商城，为您提供全新的消费方式，优秀的服务体验，让您享受青春美好时代。先消费后还款，别让现实阻挡你的脚步，零首付分期购物，帮助您实现您的梦想。火山商城购物要求简单，针对22至55周岁人群。只需填写<span>基本信息</span>，上传<span>身份证照片</span>即可，流程简单，审批速度快。商品品类繁多，价钱公道低廉，产品分期为3个月、6个月、9个月、12个月，可根据您的实际情况选择一定的首付比例。</p>
        <div class="help-step">
            <p class="step-caption">火山商城购物流程</p>
            <ul class="help-step-content">
                <li>
                    <img src="../static/img/help_center/one.png" alt="">
                    <p>客户利用手机号注<br/>册火山商城</p>
                </li>
            <span>
                <img src="../static/img/help_center/arrow.png" />
            </span>
                <li>
                    <img src="../static/img/help_center/two.png" alt="">
                    <p>用户在火山商城选择所<br/>需要的商品</p>
                </li>
            <span>
                <img src="../static/img/help_center/arrow.png" />
            </span>
                <li>
                    <img src="../static/img/help_center/three.png" alt="">
                    <p>用户选择商品属性点<br/>击立即购买</p>
                </li>
            <span>
                <img src="../static/img/help_center/arrow.png" />
            </span>
                <li>
                    <img src="../static/img/help_center/four.png" alt="">
                    <p>填写认证信息<br/>（基础信息、身份信息）</p>
                </li>
            <span>
                <img src="../static/img/help_center/arrow.png" />
            </span>
                <li>
                    <img src="../static/img/help_center/five.png" alt="">
                    <p>火山商城极速审批</p>
                </li>
            <span>
                <img src="../static/img/help_center/arrow.png" />
            </span>
                <li>
                    <img src="../static/img/help_center/six.png" alt="">
                    <p>购买成功</p>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}