{% extends "partials/layout.html" %}

{% block content %}
<style type="text/css">
  .service{border: 1px solid #e5e5e5;color: #333;padding: 0 60px 20px;box-sizing: border-box;}
  .service h1 {font-size: 24px;line-height: 88px;text-align: center;}
  .service p{font-size: 14px;line-height: 30px;margin-bottom: 15px;}
  .service b{font-weight: 700;}
</style>
<div class="container service">
    <h1>生化/其他试剂盒检测服务 </h1>
    <p>生化检测的样本既有动物实验的血清，血浆，细胞上清，细胞裂解液，也有各类组织匀浆，如脑脊液，肝脏，肾脏，脾脏等；也有其他体液如尿液，关节滑液，肺泡灌洗液等；并熟练操作各类以终点法和酶标法为基础的生化检测试剂盒。</p>
    <p><b> 一、 生化/其他试剂盒检测服务特色：</b></p>
    <p>
      <b>1、全方位产品选择项目</b><br/>
        提供多家公司的生化检测试剂盒，根据客户实验要求为客户推荐合适的产品：<br/>
        国产品牌：南京建成生物<br/>
        国外品牌：Bioassay、Cayman、Anaspec、Biovision
    </p>
    <p>
      <b>2、技术特色优势</b><br/>
        样品用量少，节省样本；<br/>
        对于动物样本的检测，可根据动物相关指标含量定标，检测结果更准确；<br/>
        每次正式实验前，会进行预实验，帮助您得到更可靠的结果；
    </p>
    <p>
      <b>3、专业的人员配置</b><br/>
      技术人员熟练常见生化指标的操作方法；
    </p>
    <p>
      <b>4、随时的技术支持</b><br/>
      作为您身边随时的技术顾问，我们任何时候都会热诚为您解决技术问题。
    </p>
    <p><b> 二、生化/活性试剂盒检测技术服务内容：</b></p>
    <p>
      <b>客户提供：</b><br/>
      尽可能详细的背景资料;<br/>
      实验样本：血清，血浆，细胞上清液，细胞裂解液，也有各类组织匀浆，如脑脊液，肝脏，肾脏，脾脏等；也有其他体液如尿液，关节滑液，肺泡灌洗液等；<br/>
      检测试剂盒：由公司代购；
      </p>
    <p>
      <b>向您提供：</b><br/>
      原始实验数据和正式实验数据；<br/>
      实验材料、仪器等内容；
    </p>
    <p><b>三、样品准备和保存：</b></p>
    <p>
      建议干冰运输样本；<br/>
      请将样本及时分装后保存在-20度或者-80度条件下保存，避免反复冻融；<br/>
      样本-20度可保存1个月，-80度可保存6个月到一年的时间；
    </p>
</div>
{% endblock %}